.iconUserUnknownAttendingSmall {
  background-image: url('/theme/default/img/userunknownattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserUnknownAttendingSmall {
    background-image: url('/theme/default/img/userunknownattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
.iconUserAttendingSmall {
  background-image: url('/theme/default/img/userattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserAttendingSmall {
    background-image: url('/theme/default/img/userattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
.iconUserNotAttendingSmall {
  background-image: url('/theme/default/img/usernotattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserNotAttendingSmall {
    background-image: url('/theme/default/img/usernotattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
.iconUserMaybeAttendingSmall {
  background-image: url('/theme/default/img/usermaybeattending16.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .iconUserMaybeAttendingSmall {
    background-image: url('/theme/default/img/usermaybeattending32.png');
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
  }
}
.calendarLabel,
.calendarControls {
  text-align: right;
  padding: 5px 0 10px 0;
}
.calendarLabel .date,
.calendarControls .date {
  font-size: 1.6em;
  font-weight: bold;
}
.calendarControls a {
  margin: 0px 5px;
  text-decoration: none;
  color: #000000;
}
table.calendar {
  width: 100%;
}
table.calendar td {
  border: 1px solid black;
  padding: 2px;
  width: 14%;
  background: white;
}
table.calendar td div.date {
  font-weight: bold;
  text-align: center;
}
table.calendar td .addURL {
  display: none;
}
table.calendar td:hover .addURL,
table.calendar td:focus .addURL {
  display: inline;
}
table.calendar td.day6,
table.calendar td.day7 {
  background: none repeat scroll 0 0 #EEEEEE;
}
table.calendar td.today {
  background: none repeat scroll 0 0 #F8E8D7;
  border: 3px solid #F89E3E;
}
table.calendar .events {
  min-height: 50px;
}
table.calendar .event {
  background: none repeat scroll 0 0 #36C036;
  border: 1px solid #007900;
  border-radius: 3px 3px 3px 3px;
  margin: 5px 15px;
  padding: 5px;
}
table.calendar .event .start_at {
  font-size: 0.8em;
}
table.calendar .event a {
  color: #222;
  text-decoration: none;
}
table.calendar .event a:hover,
table.calendar .event a:focus {
  color: block;
  text-decoration: underline;
}
table.calendar .event div.currentUserAttendance {
  float: right;
  padding: 0px 0px 5px 5px;
}
table.calendar .event div.currentUserAttendance a {
  text-decoration: none;
}
table.calendar .event .below {
  clear: both;
}
table.calendar .deleted {
  background: url('/theme/default/img/deletedBackground.png');
}
table.calendar .cancelled {
  background: url('/theme/default/img/cancelledBackground.png');
}
